

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: ‘Oswald’, sans-serif;
  font-weight: 500;
  line-height: 1.2;

  }

  html {
    /* default font-size is 16px - this is set in the default browser stylesheet */ 
    font-size: 20px; 
    font-weight: 400; 
    line-height: 1.5; 
  } 
  
  /* Increase all font sizes on mobile */ 
  @media (max-width: 767px) { 
    html { 
      /* default is 1rem or 16px */ 
      font-size: 25px; 
    } 
  }

  .row.col-10{
    background: rgb(251, 156, 3);
    border-radius: 20px;
    display:flex;
    padding-left: 50px;
  }
  .col-md-12.box{
    display: block;
    padding-top: 25px;
    color:white;
  }
  .col-10 .row {
    background: rgb(251, 156, 3);
    color: white;
    margin-bottom: 25px;
  
  }

  .hr style2 {
    border-top: 5px #c70000e8;
    margin-top: 0px;
    margin-bottom: 3px;

  }

  #searchsec.col {
    background: black;
  }
.input-group{
  margin-top: 25px;
  margin-bottom: 25px;
}

.form-control{
 align-self: center;
  height: 6vh;
}
.search-button{
  align-self: end;
  max-height: 5vh;
}


.description{
  text-align: center;
  float: left;
  background-color: rgba(255, 253, 249, 0.292);
  color: #2d2f428c;
  padding: 1.5rem;
  border: solid 2px rgba(244, 206, 15, 0.956);
  border-radius: 15px;
}


.card{
  background: rgba(80, 7, 52, 0.74);
  display: flex;
  flex-wrap: wrap;
  margin: 2vw;
  color: aliceblue;
  min-width: 12vw;
}

.card-header{
  background: rgba(80, 7, 52, 0.836);
  text-align: center;
  justify-content: center;
}



#days{
  background-color: darkgreen;
}


.card .card-body .card-text {
  color: white;}


.col-sm-12{
background-color: aquamarine;
}

#search-container{
  background: pink;
}