.body{
    background-color: rgb(111, 202, 202);
  }
  
  
  .btn {
    color: rgb(117, 66, 66);
 
  }
  
  .current-day{
    padding: 0px;
    font-size: 20px;
    font-weight: 700;

    text-align: center;
    margin: 0em;
  }
  
  .col-12 .box {
    background:rgb(238, 182, 99);
    border-radius: 12px;
    width: 760px;
    margin-top: -2px;
    margin-left: -10px;
    padding:30px;
  }
  .temperatureFont {
    font-family: 'Open Sans', sans-serif;
  }
  .bg-primary{
    border-radius: 14px;
    padding: 10px;
    background-color: aquamarine;
  }
  .bg-light {
    margin-top: 15px;
    border: solid 5px rgb(11, 158, 231);
    border-radius: 10px;
    margin-bottom: 17px;
  }
  .imgsize {
    width: 150px;
    float: right;
    margin-right: 75%;

  }

  .img{
    width: 300px;
  }
  .li{
    margin-bottom: 10px;
    margin-left: -40px;
  }