
  .col-12 .box {
    background: rgb(255, 160, 2);
    border-radius: 12px;
    width: 760px;
    padding:30px;
    color: white;
  }

  .temperatureFont {
    font-family: 'Open Sans', sans-serif;
  }
  .bg-primary{
    border-radius: 14px;
    padding: 10px;
    background: aquamarine;
  }
  .bg-light {
    margin-top: 15px;
    border: solid 5px rgb(11, 158, 231);
    border-radius: 10px;
    margin-bottom: 17px;
  }
.h6 {
  text-align: center;
}
.input-group{
  margin-top: 25px;
  margin-bottom: 25px;
}

.form-control{
align-self: center;
  height: 6vh;
}
.search-button{
  align-self: end;
  max-height: 4vh;
}

.img-size{
  float: right;
  margin-right: 50%;
}
